@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 27 5% 90%;
		--sidebar-border: 239, 53%, 59%;
		--sidebar-ring: 239, 53%, 59%;
		--radius: 0.5rem;

		--violet-color: 296, 40%, 50%;
		--green-color: 167, 98%, 39%;
		--orange-color: 20, 72%, 52%;
	}
	.csb {
		--sidebar-ring: var(--violet-color);

		--focus-color: color-mix(in oklch, hsl(var(--violet-color)), #000 40%);
		--editor-background: #1c2022;
	}
	.poimadres {
		--sidebar-ring: var(--green-color);

		--focus-color: color-mix(in oklch, hsl(var(--green-color)), #000 50%);
		--editor-background: #1b1e28;
	}

	.firewatch {
		--sidebar-ring: var(--orange-color);

		--focus-color: color-mix(in oklch, hsl(var(--orange-color)), #000 50%);
		--editor-background: #282c34;
	}
}

.violet-circle {
	background-color: hsl(var(--violet-color));
}
.green-circle {
	background-color: hsl(var(--green-color));
}
.orange-circle {
	background-color: hsl(var(--orange-color));
}
